.loan-calculator {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 40px;
}


.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  background-color: #ebf6fb;
  padding: 20px;
}

.form-grid label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.form-grid input[type="number"] {
  background-color: #fff;
}

.radio-group {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.result-row-title {
  color: var(--secondary-text);
}

.result-row-value {}

.show-schedule {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.schedule-table th {
  background: #ebf6fb;
  color: #000;
  padding: 0.4rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
}

.schedule-table td {
  padding: 0.4rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

.schedule-table tr {
  border-left: none;
  border-right: none;
}

.schedule-table tr:nth-child(even) {
  background: #f9f9f9;
}